# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/iteration-app/node_modules
/iteration-app/.pnp
/iteration-app/.pnp.js

# testing
/iteration-app//coverage

# next.js
/iteration-app/.next/
/iteration-app/out/

# production
/iteration-app/build

# misc
/iteration-app/.DS_Store
/iteration-app/*.pem

# debug
/iteration-app/npm-debug.log*
/iteration-app/yarn-debug.log*
/iteration-app/yarn-error.log*

# local env files
/iteration-app/.env*.local

# vercel
/iteration-app/.vercel

# typescript
/iteration-app/*.tsbuildinfo
/iteration-app/next-env.d.ts

/wasm/target